body {
  background: url(/static/images/bg.jpg);
  background-size: cover;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100%;
}

.main {
  margin-bottom: 50px;
}

.col-form-label, .col-form-legend {
  font-weight: bold;
}
